
.bgImg{
	/*background-image: url(images/background60.jpg);*/
	background-image: url(http://127.0.0.1/Website_ETF/images/background60.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container-hao{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.content{
	background-color: rgba(255, 255, 255, 1);
	width: 1200px;
	margin: 50px;
	padding: 50px;
}

.red-line{
	background-color: #CC0000;
	height: 5px; 
}
